.App {
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-pulse infinite 2s ease-in-out; /* Nova animação de pulsação */
  }
}

.App-header {
  background-color: #1e1e2f; /* Nova cor de fundo */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0f0f0; /* Cor de texto mais suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.App-link {
  color: #ff6f61; /* Nova cor de link */
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Transição suave para hover */
}

.App-link:hover {
  color: #ff4a3c; /* Cor do link ao passar o mouse */
}

@keyframes App-logo-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
